*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Dodatni fajlovi koji ne treba da budu na GitHub-u
*.log
*.txt
/app/build/
.idea/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
